@import '../styles/PrimaryTheme.scss';

.container {
    font-family: $body-font-family;

    input {
        font-family: $console-font-family;
    }
}

.optionalCategory {
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;

    h5 {
        margin-bottom: 15px;
    }
}