@import '../styles/PrimaryTheme.scss';

.container {
    font-family: $body-font-family;
}

.info {
    padding: 20px;
}

.table {
    cursor: default;

    tbody {
        cursor: pointer;
    }
}

.tableHeader {
    font-weight: bold;
}

.columnAlignLeft {
    text-align: left;
    padding-left: 8px !important;
}