@import '../styles/PrimaryTheme.scss';

.container {
    font-family: $body-font-family;
}

.info {
    padding: 20px;
}

.table {
    cursor: default;
}

.tableHeader {
    font-weight: bold;
}

.columnAlignLeft {
    text-align: left;
    padding-left: 8px !important;
}

.columnClickable { 
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;
}

.columnClickable:hover { 
    font-weight: bold;
}

.rowSelected {
    background-color: #777 !important;
    color: #fff;
}